.carte{
    min-width: 250px !important;
    max-width: 250px!important;
    min-height: 400px;
    max-height: 400px;
    padding: 1px;

}

.photo{
    display:flex;
    
    align-content: center;
    min-width: 240px;
    max-width: 240px;
    min-height: 240px;
    max-height: 240px;
   
}

.image{
    
    width:auto;
    margin: auto;
}
    

.commentaire{
    min-width: 240px;
    max-width: 240px;
    margin-left: 1px;
    
}

.groupe-commentaire{
    height:150px;
  overflow-y: scroll;
}
}